:host ::ng-deep{

    font-size: 1.1em;
    display: flex;    
    padding: 0em 0.2em;
    align-items: center;

    margin-left: 3.5em;

    animation: fadeIn 0.5s;
    transition: 0.2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:host ::ng-deep :where(ng-katex, input) {
    min-width: calc(100% - 4em);
    height: 1em;
    padding: 0.26em;
}

:host ::ng-deep ng-katex {
    margin-bottom: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    width: 100%;    
}
:host ::ng-deep ng-katex:hover {
    border-radius: 0.1em;
    background: rgba(0, 0, 0, 0.137);
}

/* Leer */
:host.empty ::ng-deep :where(input, ng-katex) {
    width: 100%;
}
:host.empty ::ng-deep ng-katex{
    border-bottom: 1px solid black;
}


/* Variable. Refactor: eigene Component */
:host.variable.empty ::ng-deep :where(input, ng-katex) {
    border: none;
}

.scope:hover :host.variable.empty ::ng-deep :where(input, ng-katex) {
    background-color: rgba(0, 0, 0, 0.09);
}

:host.variable ::ng-deep  {
    position: absolute;
    margin: 0.5em 0 0;
    min-width: 1.5em;
    height: 1.5em;
    font-size: 0.9em;
    overflow-x: visible;
}
:host.variable ::ng-deep input {
    width: 3em !important;
}