:host ::ng-deep{
    position: relative;
    margin-left: 4em;
    margin-right: 0.5em;
    min-width: 4em;
    width: calc(100% - 4.5em);
}

:host ::ng-deep input {
    width: 60% !important;
    min-width: unset !important;
}

/* Vorschläge */
.arrowBox {
    /* position */
    position: absolute;
    
    /* layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    width: 15em;
    padding: 0.5em;

    /* style */
    background: #3498db;
    border-radius: 5px;
    font-size: 0.8em;

    /* other */
    transition: opacity 0.5s;

    visibility: initial;
    opacity: 1;

    z-index: 10;
}

.arrowBox.hidden {
    visibility: hidden;
    opacity: 0;
}

.arrowBox ng-katex {
    cursor: pointer;
    color: #eff0f1;
    font-weight: bold;
    padding: 0.5em;
    margin: 0.15em;
    width: 85%;
    border-radius: 2px;
    border: none;
}
.arrowBox ng-katex:hover {
    color: #333333;
    background: #eff0f1;
}

/* arrow */
.arrowBox:after {
    content: "";
    display: block;    
    border-style: solid;
    border-color: #3498db transparent transparent;
    position: absolute;

    border-width: 11px;
    border-left-color: transparent;
    border-left-width: 0;
    border-top-color: transparent;
    border-right-color: #3498db;
    margin: -11px 0 0 -0.95em;
    left: 0.1em;

    top: 50%;
    bottom: auto;
}