<input #input
    [hidden]="!active"
    type="text"
    value="{{tex}}"
    (change)="onChange()"
>

<ng-katex #test
    [hidden]="active"
    [equation]="tex"
></ng-katex>

<div class="arrowBox hidden">
    <ng-katex (click)="acceptSuggestion('premise')" equation="premise"></ng-katex>
    <ng-katex (click)="acceptSuggestion('assumption')" equation="assumption"></ng-katex>

    <ng-katex (click)="acceptSuggestion('\\wedge i')" equation="\wedge i" title="And Introduction"></ng-katex>
    <ng-katex (click)="acceptSuggestion('\\wedge e')" equation="\wedge e" title="And Elimination"></ng-katex>

    <ng-katex (click)="acceptSuggestion('\\neg \\neg i')" equation="\neg \neg i" title="Double Negation Introduction"></ng-katex>
    <ng-katex (click)="acceptSuggestion('\\neg \\neg e')" equation="\neg \neg e" title="Double Negation Elimination"></ng-katex>

    <ng-katex (click)="acceptSuggestion('\\rightarrow i')" equation="\rightarrow i" title="Implication Introduction"></ng-katex>
    <ng-katex (click)="acceptSuggestion('\\rightarrow e')" equation="\rightarrow e" title="Implication Elimination (MP)"></ng-katex>



    <ng-katex (click)="acceptSuggestion('\\vee i')" equation="\vee i" title="Or Introduction"></ng-katex>
    <ng-katex (click)="acceptSuggestion('\\vee e')" equation="\vee e" title="Or Elimination"></ng-katex>

    <ng-katex (click)="acceptSuggestion('MT')" equation="MT" title="Modus Tollens"></ng-katex>

    <ng-katex (click)="acceptSuggestion('\\bot e')" equation="\bot e" title="Bottom Elimination (EFQ)"></ng-katex>

    <ng-katex (click)="acceptSuggestion('\\neg i')" equation="\neg i" title="Not Introduction (RAA)"></ng-katex>
    <ng-katex (click)="acceptSuggestion('\\neg e')" equation="\neg e" title="Not Elimination"></ng-katex>
    
</div>