<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="headline">
    <img src="/assets/drag_handle_black_24dp.svg" class="drag-handle">        
</div>
<div class="keys upperCaseGreek showAtStart">
    <button tabindex="-1" class="num disabled">Num⇩</button>
    <button tabindex="-1" title="lower case greek letters" class="divide" (click)="showLowerCaseGreek()">αω</button>
    <button tabindex="-1" class="mult" title="logics symbols" (click)="showLogics()">¬∧</button>
    <button tabindex="-1" class="minus disabled">–</button>

    <button tabindex="-1" data-tex="\Gamma">Γ</button>
    <button tabindex="-1" data-tex="\Delta">Δ</button>
    <button tabindex="-1" data-tex="\Theta">Θ</button>
    <button tabindex="-1" class="plus disabled">+</button>

    <button tabindex="-1" data-tex="\Lambda">Λ</button>
    <button tabindex="-1" data-tex="\Xi">Ξ</button>
    <button tabindex="-1" data-tex="\Pi">Π</button>

    <button tabindex="-1" data-tex="\Sigma">Σ</button>
    <button tabindex="-1" data-tex="\Phi">Φ</button>
    <button tabindex="-1" data-tex="\Psi">Ψ</button>
    <button tabindex="-1" class="enter disabled">Enter</button>

    <button tabindex="-1" class="zero" data-tex="\Omega">Ω</button>
    <button tabindex="-1" class="comma" data-tex="\Upsilon">ϒ</button>
</div>

<div class="keys lowerCaseGreek">
    <button tabindex="-1" class="num disabled">Num⇩</button>
    <button tabindex="-1" class="divide" title="upper case greek letters" (click)="showUpperCaseGreek()">AΩ</button>
    <button tabindex="-1" class="mult" title="logics symbols" (click)="showLogics()">¬∧</button>
    <button tabindex="-1" class="minus" data-tex="\alpha">α</button>

    <button tabindex="-1" data-tex="\beta">β</button>
    <button tabindex="-1" data-tex="\gamma">γ</button>
    <button tabindex="-1" data-tex="\delta">δ</button>
    <button tabindex="-1" class="plus" data-tex="\epsilon">ε</button>

    <button tabindex="-1" data-tex="\zeta">ζ</button>
    <button tabindex="-1" data-tex="\eta">η</button>
    <button tabindex="-1" data-tex="\theta">ϑ</button>

    <button tabindex="-1" data-tex="\kappa">κ</button>
    <button tabindex="-1" data-tex="\lambda">λ</button>
    <button tabindex="-1" data-tex="\chi">χ</button>
    <button tabindex="-1" class="enter" data-tex="\phi" style="font-size: 1.5em;">φ</button>

    <button tabindex="-1" class="zero" data-tex="\xi">ξ</button>
    <button tabindex="-1" class="comma" data-tex="\psi">ψ</button>
</div>

<div class="keys logics">
    <button tabindex="-1" class="num disabled">Num⇩</button>
    <button tabindex="-1" title="lower case greek letters" class="divide" (click)="showLowerCaseGreek()">αω</button>
    <button tabindex="-1" class="mult" title="upper case greek letters" (click)="showUpperCaseGreek()">AΩ</button>
    <button tabindex="-1" class="minus disabled">–</button>

    <button tabindex="-1" data-tex="\rightarrow">→</button>
    <button tabindex="-1" data-tex="\neg">¬</button>
    <button tabindex="-1" data-tex="\land">∧</button>
    <button tabindex="-1" class="plus" data-tex="\dashv"><span style="transform: scale(-1, 1); display: inline-block;">⊢</span></button>

    <button tabindex="-1" data-tex="\lor">∨</button>
    <button tabindex="-1" data-tex="\forall">∀</button>
    <button tabindex="-1" data-tex="\exists">∃</button>

    <button tabindex="-1" data-tex="\vdash">⊢</button>
    <button tabindex="-1" data-tex="\vDash">⊨</button>
    <button tabindex="-1" data-tex="\oplus">⊕</button>
    <!--button tabindex="-1" class="enter" data-tex="\Dashv"><span style="font-size: 1.5em; transform: scale(-1, 1); display: inline-block;">⊨</span></button-->
    <button tabindex="-1" class="enter disabled">Enter</button>

    <button tabindex="-1" data-tex="\bot" class="zero" title="falsum">⊥</button>
    <button tabindex="-1" data-tex="\equiv" title="Identity">≡</button>
</div>