@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host ::ng-deep {
    /* position */
    position: absolute;
    z-index: 99;
    
    /* layout */
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 28em;
    right: 4em;

    /* style */
    background: #f6f5f4f8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1%;

    /* vars */
    --key-gap: 0.5em;
    --key-width: 2.5em;
}

/* Fensterleiste */
:host ::ng-deep .headline {
    height: 2em;
    background: #a7a7a7;
    display: flex;
    justify-content: end;
    cursor: grab;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
:host ::ng-deep .headline .drag-handle {
    height: 2em;

    align-self: end;
    justify-self: end;
    
}

:host ::ng-deep .keys {
    
    /* position */
    margin-top: 2em;
    justify-self: center;
    align-self: center;

    /* layout */
    width: calc(calc(4 * 3.75em) + calc(3 * 0.5em));
    height: calc(calc(5 * 3.75em) + calc(4 * 0.5em));
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 3.75em);
    gap: var(--key-gap);
    justify-items: center;
    align-items: center;
}

:host ::ng-deep .keys button {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    position: relative;
    color: #333;

    cursor: pointer;

    border: 1px solid #333;
    float: left;
    box-shadow: 0 2px 0 0 #333;
    border-radius: 5px;
    margin: 0 5px;
}
:host ::ng-deep .keys button.active {
    box-shadow: 0 0 1px 0 black inset;
}
:host ::ng-deep .keys button.disabled {
    color: rgba(51, 51, 51, 0.356);
    cursor: initial;
    border-color: rgba(51, 51, 51, 0.432);
    box-shadow: 0 2px 0 0 rgba(51, 51, 51, 0.363);
}


:host ::ng-deep .keys :where(.num, .enter) {
    font-size: 0.85em;
}

:host ::ng-deep .keys :where(.plus, .enter) {
    grid-column-start: -2;
    grid-row-end: span 2;
}
:host ::ng-deep .keys .zero {
    grid-column-end: span 2;
}

/* Eigentliche Tastenbeschriftung zur Orientierung */
:host ::ng-deep .keys button:after {
    position: absolute;
    bottom: 0.1em;
    left: 0.5em;
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.336);
}
:host ::ng-deep .keys .plus:after {
    content: "+";
}
:host ::ng-deep .keys .minus:after {
    content: "–";
}
:host ::ng-deep .keys .divide:after {
    content: "÷";
}
:host ::ng-deep .keys .mult:after {
    content: "×";
}
:host ::ng-deep .keys button:nth-child(5):after {
    content: "7";
}
:host ::ng-deep .keys button:nth-child(6):after {
    content: "8";
}
:host ::ng-deep .keys button:nth-child(7):after {
    content: "9";
}
:host ::ng-deep .keys button:nth-child(9):after {
    content: "4";
}
:host ::ng-deep .keys button:nth-child(10):after {
    content: "5";
}
:host ::ng-deep .keys button:nth-child(11):after {
    content: "6";
}
:host ::ng-deep .keys button:nth-child(12):after {
    content: "1";
}
:host ::ng-deep .keys button:nth-child(13):after {
    content: "2";
}
:host ::ng-deep .keys button:nth-child(14):after {
    content: "3";
}
:host ::ng-deep .keys button:nth-child(17):after {
    content: ",";
    font-size: 1em;
}
:host ::ng-deep .keys .zero:after {
    content: "0";
} 
:host ::ng-deep .keys button.disabled:after {
    content: "";
}

/* Tastenlayouts */
:host ::ng-deep .keys:not(.showAtStart) {
    display: none;
}
:host ::ng-deep .keys.logics .mult:before {
    content: "GREEK";
    font-size: 0.5em;
    position: absolute;
    top: 0.2em;
}
:host ::ng-deep .keys.logics .divide:before {
    content: "greek";
    font-size: 0.5em;
    position: absolute;
    top: 0.2em;
}

:host ::ng-deep .keys.upperCaseGreek .divide:before {
    content: "greek";
    font-size: 0.5em;
    position: absolute;
    top: 0.2em;
}
:host ::ng-deep .keys.upperCaseGreek .mult:before {
    content: "logics";
    font-size: 0.5em;
    position: absolute;
    top: 0.3em;
}

:host ::ng-deep .keys.lowerCaseGreek .divide:before {
    content: "GREEK";
    font-size: 0.5em;
    position: absolute;
    top: 0.2em;
}
:host ::ng-deep .keys.lowerCaseGreek .mult:before {
    content: "logics";
    font-size: 0.5em;
    position: absolute;
    top: 0.3em;
}