:host {
    /* postition */
    margin-top: 1em;
    position: relative;

    /* layout */
    display: grid;
    grid-template: auto / auto auto auto auto;
    grid-auto-flow: column dense;
    gap: 0.3em 0;
    padding-top: 1em;
    padding: 1em 2em 6em;

    /* style */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

:host ::ng-deep app-fitch-line {
    grid-column-start: 2;
}

:host ::ng-deep app-fitch-annotation {
    grid-column-start: 3;    
}

/* Scopes */

:host ::ng-deep .scope {
    /* position*/
    position: relative;
    grid-column: 2 / span 2;      

    /* layout */
    display: grid;
    grid-template: subgrid / subgrid;
    gap: inherit;    

    /* style */
    outline: black solid 1px;
}
:host ::ng-deep .scope app-fitch-line {
    grid-column-start: initial;
}
:host ::ng-deep .scope app-fitch-annotation {
    grid-column-start: initial;
    align-self: left;
    justify-self: left;
}

/* Verschachtelte Scopes */

:host ::ng-deep .scope .scope {
    grid-column-start: 1;
    margin: 0 0 0 0.5em;

    grid-template-rows: auto;
}
:host ::ng-deep .scope .scope app-fitch-line {
    margin-left: 3em;
}
:host ::ng-deep .scope .scope .scope app-fitch-line {
    margin-left: 2.5em;
}

/* Zeilennummern */

:host ::ng-deep .lineNumber {
    /* position */
    grid-column-start: 1;

    /* layout */
    display: block;
    align-self: center;
    margin: 0 40px 0 0;
    width: 1.5em;
    
    /* style */
    text-align: right;
}

/* Line-Buttons */

:host ::ng-deep .lineControls {
    /* position */
    grid-column: 4 / span 1;
    margin-left: 2.5em;

    /* layout */
    display: flex;
    align-self: center;

    /* style */
    opacity: 0.5;
}
:host ::ng-deep .lineControls:hover {
    opacity: 1;
}
:host ::ng-deep .lineControls i {
    --width: 1.4em;
    --padding-left: 0.2em;
    --padding-bottom: 0;

    /* position */
    margin: 0.3em;

    /* layout */
    display: flex;
    width: 1.2em;
    width: calc(var(--width) - var(--padding-left));
    height: 1.2em;

    /* style */
    border-radius: 100%;
    border: 1px solid #333333;
    cursor: pointer;
    font-style: normal;
    text-align: center;


}
:host ::ng-deep .lineControls i:hover {
    background: #333;
    color: #eff0f1;
}
:host ::ng-deep .lineControls .addLine {
    padding: 0.1em 0 0.1em 0.2em;
}
:host ::ng-deep .lineControls .newScope {
    width: calc(var(--width) - 0.22em);
    height: calc(var(--width) - 0.5em);
    padding: 0 0 0.5em 0.22em;   
}
:host ::ng-deep .lineControls .upScope {
    width: calc(var(--width) - 0.35em);
    height: calc(var(--width) - 0.7em);
    padding: 0 0 0.7em 0.35em;
}
:host ::ng-deep .lineControls .remove {    
    width: calc(var(--width) - 0.3em);
    height: calc(var(--width) - 0.08em);
    padding: 0.08em 0 0 0.3em;   
}

:host ::ng-deep .lineControls i.disabled {
    opacity: 0.3;
}
:host ::ng-deep .lineControls i.disabled:hover {
    background: initial;
    color: initial;
}

button.check {
    position: absolute;
    bottom: 0;
    margin: 1em;
}